Options -Indexes -MultiViews

DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /api/

  RewriteRule ^index\.php$ - [L]
  RewriteRule ^(?:post-share|profile-share|sitemap)\.php$ - [L]
  RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
